body {
  width: 1440px;
  margin: auto;
  font-family: "Raleway", "Sans serif";
}

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

header img {
  height: 45px;
}

header nav a {
  padding: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navhebergements {
  border-top: solid #0065fc;
  color: #0065fc;
}

#navactivites:hover {
  color: #0065fc;
  border-top: solid #0065fc;
}

#inscription {
  color: #0065fc;
}

/*section recherche*/

#barrerecherche {
  width: 415px;
  height: 50px;
  display: flex;
}

form span {
  background-color: #f2f2f2;
  width: 55px;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  flex: auto;
  border:none;
  border-top: solid 1px #f2f2f2 ;
  border-bottom: solid 1px #f2f2f2;
  padding-left: 25px;
  font-size: 1.1rem;

}


form button {
  background-color: #0065fc;
  flex: auto;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
