body {
  width: 100%;
  font-family: "Raleway", "Sans serif";
}

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

header img {
  height: 45px;
}

header nav a {
  padding: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navhebergements {
  border-top: solid #0065fc;
  color: #0065fc;
}

#navactivites:hover {
  color: #0065fc;
  border-top: solid #0065fc;
}

#inscription {
  color: #0065fc;
}

/*section recherche*/

#barrerecherche {
  width: 415px;
  height: 50px;
  display: flex;
}

form i {
  background-color: #f2f2f2;
  width: 42px;
  border-radius: 15px 0 0 15px;
  padding-left: 22px;
  padding-top: 15px;
}

form input {
  flex: auto;
  border: none;
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  padding-left: 20px;
  font-size: 1.1rem;
}

form button {
  background-color: #0065fc;
  width: 150px;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

form ::placeholder{
  color: black;
}

/*section filtres*/

#filtres {
  display: flex;
  margin-top: 50px;
}

#filtres h2 {
  margin-top: auto;
  font-weight: 900;
}

#filtres div {
  margin-left: 40px;
  padding-right: 25px;
  border: #d9d9d9 solid 2px;
  border-radius: 35px;
  display: flex;
  cursor: pointer;
  font-size: 0.9rem;
}

#filtres div:hover {
  background-color: #aad4ff;
  transform: scale(1.1);
  transition-duration: 1s;
}

#filtres i {
  height: 60px;
  width: 60px;
  background-color: #deebff;
  color: blue;
  border-radius: 100%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
  margin-left: -2px;
  margin-bottom: -2px;
}

/*Section hébergements partie principal*/

#hebergements>div{
  background-color:#F2F2F2;
  width: 61%;
  height: 627px;
  border-radius: 25px;
  padding: 15px;
}

#hebergements h2{
margin-left: 25px;
}

#principaux{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

 #hebergements a{
   text-decoration: none;
   color: black;
 }

#hebergements figure{
  width: 248px;
  height: 200px;
  background-color:white;
  padding: 5px;
  border-radius: 25px;
  line-height: 0.5;
  margin: 15px
}

#hebergements figure img{
  width: 100%;
  height: 113px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}

#hebergements figcaption{
  padding-left: 15px;
}

#hebergements i{
  color: #0065fc;
}

#plus {
  font-weight: bold;
  display: block;
  padding-top: 20px;
  margin-left: 30px;
} 

/*Section hébergements partie populaire*/


